
@{
 //Layout = null;
}


<!DOCTYPE html>
    <html>
        <head>
        <title>Главная страница</title>
        </head>
       <body>
           <h1>
               Главная страница
           </h1>
           <a href = 'https://localhost:7260/Register'>Страница Регистрации</a>
           <br />
           <br />
           <a href = 'https://localhost:7260/Login'>Страница Авторизации</a>
       </body>
    </html>